<!--Template Practice Below -->
<!--https://codepen.io/chaiyachet/pen/OJyEPWr-->
  <body class="d-flex justify-content-center" >



  <div class="container text-center ">
    <!-- Start Header form -->
    <div class="row d-flex justify-content-center">
      <h2 class="col-12">Add Habit</h2>
      <p>
        Please complete the form below
      </p>
    </div>
    <!-- End Header form -->
  
    <!-- Start Card -->
    <div class="card ">
      <!-- Start Card Body -->
      <div class="card-body row d-flex justify-content-center">
        <!-- Start Form -->
        <form id="bookingForm" action="#" method="" class="needs-validation" novalidate autocomplete="off">
          <!-- Insert Title -->
          <div class="form-group">
            <label for="inputName">Title</label>
            <input type="text" class="form-control" id="inputName" name="name" placeholder="Title" [(ngModel)]="newHabit.title" required />
            <small class="form-text text-muted">Please provide title</small>
          </div>
          <!-- End Insert Title -->
  
            <!-- Start Input Start Time -->
         
                <label>Select a Category</label>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <select class="form-control mr-1" id="inputStartTimeHour" name="startHour" [(ngModel)]="newHabit.category_id"  required>
                    <option *ngFor="let cat of TheCategory" [value]="cat.id">{{cat.type}}</option>
                    </select>
                </div>
                
                <!-- End Input Start Time -->


          <!-- Start Input Amount -->
          <div class="form-group">
            <label for="inputEmail">Amount</label>
            <input type="text" class="form-control" id="inputEmail" name="amount" placeholder="Enter amount" [(ngModel)]="newHabit.amount" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
          </div>
          <!-- End Input Amount -->
            <!-- Start Input Date , Start Time and End Time -->
            <div class="form-row">
            <!-- Start Input Date -->
                <div class="form-group col-md-4">
                    <label for="inputDate">Start Date</label>
                    <input type="date" class="form-control" id="inputDate" [(ngModel)]="newHabit.startDate" name="date" required />
                    <small class="form-text text-muted">Please choose the start date for your new habit.</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputDate">End Date</label>
                    <input type="date" class="form-control" id="inputDate" [(ngModel)]="newHabit.endDate" name="date" required />
                    <small class="form-text text-muted">Please choose the end date for your new habit.</small>
                </div>
            </div>
            <!-- End Input Date -->
            
          <!-- Start Input Date , Start Time and End Time -->
          <div class="form-row">
          </div>
          <!-- End Input Date , Start Time and End Time -->

          <!-- Start Input Remark -->
          <div class="form-group">
            <label for="textAreaRemark">Description</label>
            <textarea class="form-control" name="remark" id="textAreaRemark" rows="2" placeholder="Describe your habit" [(ngModel)]="newHabit.description"></textarea>
          </div>
          <!-- End Input Remark -->
  
          <!-- Start Submit Button -->
          <button class="btn btn-primary col-lg-2" (click)="saveHabit()" routerLink="/habits">Save</button> <button class="btn btn-primary col-lg-2" (click)="clear()">Clear</button><button class="btn btn-primary col-lg-2" routerLink="/habits">Cancel</button>
          <!-- End Submit Button -->
        </form>
        <!-- End Form -->
      </div>
      <!-- End Card Body -->
    </div>
    <!-- End Card -->
  </div>

</body>