.container {
    background-color: #a4b37b;
    margin: 10vh 0;
    padding: 5vh ;
}

 /*
    !important overrides the bootstrap styling
 */
.btn-primary {
    background-color: #353b22 !important;
    border-color: #A4b37b !important;
}

.btn-primary:hover {
    background-color: #285430 !important;
    border-color: #285430 !important;
}

.btn-primary:active {
    background-color: #285430 !important;
    border-color: #285430 !important; 
    
}

.btn-primary:visited {
    background-color: #285430 !important;
    border-color: #285430 !important;
}





.alert {
    color: red;
    font-weight: 700;
    
}