.container {
    background-color: #A4B37B;
    height: 50vh; 
    width: 50%; 
    margin: 10vh 25% ;
    padding: 10vh;
    font-family:  Serif, Sans-serif;
    border-radius: 1%;
}

button {
    background-color: #E5D9B6;
    margin-left: 15px; 
    margin-bottom: 5px; 
    font-weight: bolder;
    border-radius: 10px;
}

button:hover {
    background-color: #285430;
}

.bar {
    width: 50%;
    border-radius: 10px;
}
/* 
h1 {
    font-size: 10vh;
}

h2 {
    font-size: 9vh; 
}

p {
    font-size: 20px; 
} */

/* .content {
    text-align: center;
    padding-top: 25%; 
}

 */

 @media only screen and (max-width: 1200px){
    .container {
        width: 90%; 
        margin: 1vh 2% ;
        padding: 1vh;
    }
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}