.card{
    width:inherit;
    margin-bottom: 1rem;
}

.TrackBar-Border{
    border-color: black; 
    border-width: 1px; 
    border-style: solid; 
    width:100%;  
    background-color: lightgray; 
    z-index: 0;
}

.prog-report{
    z-index:2; 
    display: inline-block; 
    position: absolute;
}

.TrackBar-Progress{
    border:none;  
    background-image: linear-gradient(#5F8D4E,#8bc575, #5F8D4E, #285430); 
    z-index: 0; 
    height:1.75em; 
}

/* .Track-Bar-Text {
    display: none;
}

.Track-Bar-date {
    display: none;
} */

/* Media Query templates*/
@media only screen and (max-width: 1000px){
    /*Tablets [601px -> 1200px]*/
    .prog-report{
        position: inherit;
    }
}
