

<div  class="Tracker-Detail-Cont">
 <strong>
    <div class="Tracker-Detail-Name">
        {{ trackedHabit.title }}

    </div>
</strong>
<div class="week">
    <table width="400px">
        <tr class="label">
            <!-- Calculate Todays Date Then Make 6 days + Todays Day -->
            <td>
                mon
            </td>
            <td>
                tues
            </td>
            <td>
                wed
            </td>
            <td>
                thurs
            </td>
            <td>
                fri
            </td>
            <td>
                sat
            </td>
            <td>
                sun
            </td>
        </tr>
        
        <!-- Match those dates and search for habits, if YES show a Check , if not, show a blank -->
        <tr>
            <td>
                X
            </td>
            <td>
                X
            </td>
            <td>
              X
            </td>
            <td>
                X
            </td>
            <td>
                X
            </td>
            <td>
                X
            </td>
            <td>
                X
            </td>
        </tr>
    </table>
</div>

    <div class="Track-Time">

        <div class="TrackBar-Border" style="border-color: black; border-width: 1px; border-style: solid; width:20rem;  background-color:  lightgray; z-index: 0;">
       
        
        
            <div class="prog-report" style=" z-index:2; display: inline-block; position: absolute;">     
                <span class="Track-Bar-Text">   {{ getTimeLapse(trackedHabit) }}% Complete. 

                </span>
                <span class="Track-Bar-date"> Ending in {{ getDaysLeft(trackedHabit)}} days. 

            
                </span>
        
            </div> 
        
            <div class="TrackBar Progress" style="border:none;  background-image: linear-gradient(#5F8D4E,#8bc575, #5F8D4E, #285430); z-index: 0; height:1.75em; "  [ngStyle]="{'width.%': getTimeLapse(trackedHabit) }" > 

               <!--blank-->
            
            
            </div> 
            
        </div>
                  

    </div>

    <div class="Track-Complete">
        <div class="TrackBar-Border" style="border-color: black; border-width: 1px; border-style: solid; width:20rem;  background-color: lightgray; z-index: 0;">
            
            <div class="prog-report" style="z-index:2; display: inline-block; position: absolute;"> {{getSuccessDays(currList)}} out of {{getDaysSoFar(trackedHabit)}} days recorded wins!
            
            </div> 
          
            <div class="TrackBar Progress" style=" background-image: linear-gradient(#5F8D4E,#8bc575, #5F8D4E, #285430); z-index: 0; height:1.75em; "  [ngStyle]="{'width.%': getSuccessRate(trackedHabit, currList) }" > 
                
            </div>
            
       
               

            <!-- {{getSuccessRate(trackedHabit, currList)}}% Winrate. -->

              

           <!-- </div> -->
        </div>

      
        
    </div>
  <!-- we can add a "by the weeks list of results here"
    <div *ngFor="let thisResult of currList"> 
     Completed On:   {{ thisResult.date }}
    </div>
-->


</div>
