
    <div class="container" >
        <div class="row">
            <div class="col-sm-12 col-xl-10">
                <!----------------HABIT DISPLAY------------------->
                <ng-container *ngIf="!editMode">        
                    <h3>{{habit.title}}</h3>   
                    <p>{{habit.amount}} </p>

                    <!--ADDITIONAL DETAILS -->
                    <ng-container *ngIf="detailsVisible">
                        <ng-container *ngFor="let cat of CategoryList">
                            <ng-container *ngIf="habit.category_id == cat.id">
                            <p>Category: {{cat.type}}</p> 
                            </ng-container>
                        </ng-container>
                    
                        <p>Start Date: {{habit.startDate | date : 'shortDate' }}</p>
                        <p>End Date: {{habit.endDate   | date : 'shortDate' }}</p>
                        <p>Description: {{habit.description}}</p>
                    </ng-container>

                    <!--VIEW DETAILS, EDIT, AND DELETE BUTTONS-->
                    <div class="row d-flex justify-content-around">
                        <ng-container *ngIf="!detailsVisible">
                            <button (click)="viewDetails()"><fa-icon [icon]="faCaretSquareDown" size="2x"></fa-icon></button>
                        </ng-container>
                        <ng-container *ngIf="detailsVisible">
                            <button (click)="viewDetails()"><fa-icon [icon]="faCaretSquareUp" size="2x"></fa-icon></button>
                        </ng-container>
                    <button (click)="editHabit()"><fa-icon [icon]="faEdit" size="2x"></fa-icon></button>
                    <button (click)="deleteHabit()"><fa-icon [icon]="faTrashCan" size="2x"></fa-icon></button>
                    </div>
    
                    
                </ng-container>

                <!----------------EDIT FORM-------------------->

                <ng-container *ngIf="editMode">
                    <p>Title: <input type="text" [(ngModel)]="editTitle"></p>
                    <p> Category: 
                        <select [(ngModel)]="editCategory_id" >
                            <option *ngFor="let cat of CategoryList" [value]="cat.id">{{cat.type}}</option>
                        </select>
                    </p>

                    <p>Amount: <input type="text" [(ngModel)]="editAmount"></p>
                    <p>Start Dat: <input type="date" [(ngModel)]='editStartDate'></p>
                    <p>End Date: <input type="date" [(ngModel)]='editEndDate'></p>
                    <p>Description: <input type="text" [(ngModel)]="editDescription"></p>

                    <!--SAVE AND CANCELBUTTONS-->
                    <div class="row d-flex justify-content-around">
                        <Button (click)="saveEdit()"><fa-icon [icon]="faFloppyDisk" size="2x"></fa-icon></Button>
                        <Button (click)="cancelEdit()"><fa-icon [icon]="faXmarkCircle" size="2x"></fa-icon></Button>
                    </div>
                </ng-container>
            </div>

            <!----------------CHECKMARK BOX-------------------->
            <div id="check-box" *ngIf="!editMode" class="col-12 col-xl-2 d-flex justify-content-center align-items-center row ">
                <p>Complete</p>
                <div>
                    <ng-container *ngIf="!checkmarkStatus">
                        <button (click)="updateTracker()" ><fa-icon [icon]="faCheckCircle" size="5x" ></fa-icon></button>
                    </ng-container>
                    <ng-container *ngIf="checkmarkStatus">
                        <button (click)="updateTracker()" ><fa-icon [icon]="faCircleCheck" size="5x"></fa-icon></button>
                    </ng-container>
                    
                </div>
            </div>
            <!-------------------CALENDAR BAR----------------->
            <div id="calendar-bar" class="col-12">
                <app-habit-calendar-bar [habit]="habit"></app-habit-calendar-bar>
            </div>
    </div>
</div>

  