<!-- Was thinking a table might be easier to style in the future? Commented out unformatted text below -->

<table>
    <th><strong>{{habit.title}}</strong></th>
    <ng-container *ngFor="let cat of CategoryList">
        
        <tr *ngIf="habit.category_id == cat.id">
            {{cat.type}}
        </tr>

    </ng-container>
 
    <tr>{{habit.amount}} </tr>
    <tr>{{habit.startDate | date : 'shortDate' }}</tr>
    <tr>{{habit.endDate   | date : 'shortDate' }}</tr>
    <tr>{{habit.description}}</tr>
</table>


<!-- <strong>{{habit.title}}</strong><br />
{{habit.category_id}} <br/>
{{habit.amount}} <br />
{{habit.startDate | date : 'shortDate' }} <br />
{{habit.endDate   | date : 'shortDate' }} <br />
{{habit.description}} <br /> -->
